body{
    font-family: "bitter", serif ;
}
.font-lato{
    font-family: "lato" !important;
}
/*recipiente colori*/
:root{
    --det-color:#2989fb;
    --sec-color:#4c7c8f;  
    --acc-color:#3c5766;
     
    
}

/* testo*/
.tx-1{
  color:var(--det-color);
}

.tx-2{
   color:var(--sec-color);
}

.tx-acc{
    color: var(--acc-color);
}
/*backcolor*/
.bg-1{
   background-color:var(--det-color);
}
.bg-2{
     background-color:var(--sec-color);
}
.bg-acc{
    background-color: var(--acc-color);
}
/*bordi*/

.bord-1 {
   border-bottom: 5px solid var(--det-color) !important;
}
.bord-2 {
    border-bottom: 5px solid var(--sec-color) !important ;
}
 .bord-acc {
    border-bottom: 5px solid var(--acc-color) !important ;
}
.destination{
    position: relative;
}
.destination::after{
    position: absolute;
    content: "";
    bottom: -10%;
    left: 0%;
    width: 100%;
    height: 10%;
    background-color: var(--acc-color);
}
.destination-sticky{
      position: sticky;
      top: 120px;
}
.bg-image {
    background-image: url(immagini/immagine\ modulo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }